apiVersion: apps/v1
kind: Deployment
metadata:
  name: learningEvaluation
  labels:
    app: learningEvaluation
spec:
  replicas: 1
  selector:
    matchLabels:
      app: learningEvaluation
  template:
    metadata:
      labels:
        app: learningEvaluation
    spec:
      containers:
        - name: learningEvaluation
          image: user17skccacr.azurecr.io/learningEvaluation:v1.0
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: '/actuator/health'
              port: 8080
            initialDelaySeconds: 10
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 10
          livenessProbe:
            httpGet:
              path: '/actuator/health'
              port: 8080
            initialDelaySeconds: 120
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 5
